*{
    font-family: Roboto;
}

body{
    margin: 0;
}

p{
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_first_level {
    margin: 16px 0 16px 0;
    width: 84%;
    display: flex;
    justify-content: space-between;
}

span{
    color: rgb(75, 120, 184);
}

.header_information{
    display: flex;
}

.header_information_text{
    margin: 0 8px 0 8px ;
    color: #959595;
}

.header_login{
    color: red;
}

.log_line{
    border-right: 1px solid black;
    padding: 5px 5px 5px 0;
}

.header_second_level{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.second_level_block{
    justify-content: space-between;
    color: white;
    display: flex;
    width: 84%;
    align-items: center;
}

.logo{
    bottom: 10px;
    position: relative;
}

.header_second_text_block{
    display: flex;
}

.second_text_item{
    font-size: 14px;
    color: #959595;
}

.second_level_img{
    padding-right: 10px;
    height: 30%;
    align-self: center;
}

button{
    width: 300px;
    height: 50px;
    background-color: #188392;
    color: #fff;
    cursor: pointer;
}

.banner{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.header_third_level{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_third_level_block{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 60px;
    background-color: white;
    align-items: center;
}

.catalog{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 250px;
    cursor: pointer;
}

.catalog_img{
    padding-right: 10px;
}

.search{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.search_img{
    cursor: pointer;
}

.third_level_item{
    padding-right: 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
    cursor: pointer;
}

.third_item_img{
    padding-right: 10px;
}

.cart{
    margin-right: 55px;
}

.alphabet_search{
    background-color: black;
    color: white;
    width: 84%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}
.alphabet_search_text{
    margin-left: 50px;
}

.alphabet_indent{
    margin-right: 40px;
}

.banner_text{
    margin-top: 10%;
    width: 84%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 38px;
    font-style: italic;
}

.banner_span{
    color: #860101;
}

.banner_button{
    width: 230px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
